/* =================== VARIABLES =================== */

$color-rojo: #ff0000;
$color-negro: #000000;
$color-blanco: #ffffff;

$fuente-principal: 'Orbitron', sans-serif;

$z-navbar: 1000;
$z-overlay: 500;
$z-dropdown: 1100;

$radio-btn: 30px;
$padding-btn: 10px 25px;

$transicion-default: all 0.3s ease;
